

*.idea/
final/data/

Domain-team/lending_club_2020_train.csv
final/data/lending_club_2020_train.csv
final/data/Data_v1.csv
Domain-team/for_grade_data.csv
final/regression/01_recovery/sec_timeline_recovery.csv
final/regression/01_recovery/sec_timeline_recovery_mod.csv
